@model IEnumerable<Projekat_1.Models.Rent>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdRent">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdRent">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdRent">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
