@model GoodHost.Api.Models.Comment

@{

    ViewBag.Title = "InsertComment";

    Layout = null;

}

<style>

    .table {
        width: 70%;
        max-width: 70%;
        margin-bottom: 5px;
        background-color: aliceblue;
    }
</style>

<script src="~/Scripts/jquery-1.7.1.min.js"></script>

<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>

<script src="~/Scripts/jquery-1.9.1.min.js"></script>

<link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" />

<script src="~/bootstrap/js/bootstrap.min.js"></script>

<script type="text/javascript">

function PostData() {

var Commenta = { "UserComment": $("#UserComment").val() };

$.ajax({

type: "POST",

data: Commenta,

url: '@Url.Action("Post", "api/values")',

success: function (data) {

GetData();

},

});

}

</script>

<script type="text/javascript">

    function GetData() {

        $("#DivCom").empty();

        $.ajax({

            type: "GET",

            contentType: 'application/json; charset=utf-8',

            url: 'http://localhost:1034/api/values',

            dataType: "json",

            success: function (data) {

                $.each(data, function (i, mobj) {

                    $("#DivCom").append('<table class="table"><tr><td width="50px">' mobj.UserComment '</td></tr><div style="margin-top: 2px"></div>');

                });

                $("#DivCom").append('</table>');

            }

        });

    }

</script>



@using (Html.BeginForm())

{

    @Html.ValidationSummary(true)

    <div class="container">

        <div style="margin-top: 5px"></div>

        <div class="col-md-12">

            @Html.LabelFor(model => model.UserComment)

        </div>

        <div style="margin-top: 5px"></div>

        <div class="col-md-12">

            @Html.TextBoxFor(model => model.UserComment, new { @class = "form-control" })

            @Html.ValidationMessageFor(model => model.UserComment)

        </div>

        <div style="margin-top: 5px"></div>

        <div class="col-md-12">

            <input type="button" onclick="PostData();" value="Add Comment" />

        </div>

        <div style="margin-top: 10px"></div>

        <div id="DivCom">

        </div>

    </div>

}


