@model Projekat_1.Models.Place

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Place</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Availability)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Availability)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Rooms)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Rooms)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MaxOfGuests)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MaxOfGuests)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address.IdAddress)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.IdPlace">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
