@model IEnumerable<Projekat_1.Models.Place>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Availability)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rooms)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxOfGuests)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Availability)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rooms)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxOfGuests)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address.IdAddress)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPlace">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPlace">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPlace">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
