@model IEnumerable<Projekat_1.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserRoleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Offer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserRoleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Offer.IdOffer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating.IdRating)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdReview">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdReview">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdReview">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
